{% extends 'base.html.twig' %}

{% block title %} Liste d'articles{% endblock %}

{% block body %}

<h1>Liste des Articles</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.titre }}</h2>
                <p>{{ article.contenu }}</p>
                <p>Publié le {{ article.datePublication|date('d/m/Y') }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
